* {
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: Roboto-Bold;
    src: url(../../assets/fonts/Roboto-Bold.ttf);
}
@font-face {
    font-family: Roboto-Regular;
    src: url(../../assets/fonts/Roboto-Regular.ttf);
}

body {
    font-family: Roboto-Regular, Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: hsl(234, 29%, 20%);
    font-weight: 400;

    @media(max-width: 665px) {

    }

    @media(min-width: 666px) {
        background: hsl(235, 18%, 26%);
    }
}

#app {

    @media(max-width: 665px) {
        width: 100%;
        height: 100vh;
        display: grid;
        justify-content: center;
        align-items: center;
    }

    @media(min-width: 666px) {
        width: 100%;
        height: 100vh;
        background: hsl(235, 18%, 26%);
        display: grid;
        justify-content: center;
        align-items: center;
    }
}





.form-submit-error {
    justify-self: end;
    color: hsl(4, 100%, 67%);
}

.form-input-error {
    margin-top: 0.4rem;
    width: 90%;
    padding: 0.8rem;
    border: 1px solid hsl(4, 100%, 67%);;
    color: hsl(231, 7%, 60%);
    border-radius: 0.3rem;
    background: hsl(4, 88%, 90%);
}


@keyframes animateBg {
    0% { background-position: 0% 0%; }
    100% { background-position: 100% 0%; }
}


@keyframes fadeIn {
    0% {
        transform: scaleX(0.2) scaleY(0.2);
    }

    100% {
        transform: scaleX(1) scaleY(1);
    }
}